/phinx.yml
.idea
nbproject

.htaccess
/vendor
/media/css/min/*.css
/media/js/min/*.js
/media/logs
/media/_upload/
/media/maps
/media/upload
/media/reports
/media/widget
/media/cookies
/media/zi9UatQo
error_log
media/map/
media/pie/
media/vidal/
/vendor

application/templates/_bak.tar.gz
application/config/site.cfg.php
application/config/db.cfg.php
application/config/memcache.cfg.php
application/config/elasticsearch.cfg.php
application/config/version.php

/cache
/booking
/data
_bak

public/image_sitemap.xml

public/sitemap.xml

robots.txt
verify-admitad.txt

media/js/js_library.js

!public/robots.txt.orig

public/google*.html
public/yandex*.html
