/* adaptive switch */

.adaptive-switch-link{display: none;}
.about_us .owl {width: calc(100% - 330px*2);}
.about_us .white_bl {height:270px;}
.catalog_list_container .catalog_list h3 a {margin:0 10px !important;}
@media (max-width: 1200px) {
    .about_us .contacts ul li .h-txt {padding: 7px 0 5px !important;}
    .about_us .contacts ul li:first-child {
        margin-left:0;
    }
    .about_us .contacts ul li:first-child + li {
        width: 285px;
    }
    .about_us .contacts ul {
        max-width:625px;
        width:100%;
        margin:0 auto;
    }
    .about_us .list_info:after,
    .about_us .contacts ul:after{
        content:"";
        display:block;
        clear:both;
    }
    .about_us .address {
        margin: 35px auto 15px;
        width: 680px;
        float: none;
    }
    .about_us .contacts {float:none;}
    .about_us .list_info {
        max-width: 780px;
        float: none;
        margin: 0 auto 40px;
    }
    .product_list .goods_blocks {display:inline;}
    .product_list {
        margin: 0 auto;
        width: 790px;
    }
    .goods_blocks > li:nth-child(4n) {margin-right: 5px;}
}
@media (max-width: 1199px){
    #our-doctors .clinic-card .btns .btn-appoint{
        background-size: 100% 200% !important;
        background-position:center top;
    }
    div.clinic-map-search {
        top: 400px;
    }
    div.clinic-map-search input.txt {
        width: calc(100% - 94px) !important;
    }
    div.clinic-map-search .btn-search {
        position: relative !important;
        margin-left: -2px;
        top: 0;
        right: 0;
        left: 0;
    }

    html, body{
        width: 100%;
        min-width: 100%;
        /*overflow-x: hidden;*/
        height: auto;
    }
    #wrapper{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .wrap{
        overflow: hidden;
    }
    .wrap .content{
        padding:0 10px;
    }
    *{
        box-sizing: border-box;
    }
    #header{
        min-width: 100%;
        background-size: 21px;
        height: 100px;
    }
    .inner-home-main .center, .content .main-column {
        width: 100%;
    }
    .caroufredsel_wrapperÃ‚Â ul.ul_cards{
        width: 100vw!important;
        height: 884px!important;
        /* margin-left: 25vw!important; */
    }
    .info-card {
        width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .slider-cards .ul_cards > li{
         float: none;
        /* margin: 0 auto; */
        /* width: 470px; */
    }
    .abs.abs4 {
        display: none;
    }

    .abs.abs3 {
        display: none;
    }

    .abs.abs2 {
        display: none;
    }

    .specialties-groups-wrapper .specialties-groups .sg-title {
        text-align: center;
    }

    .right_owl {
        display: none;
    }

    .left_search {
        width: 100%;
        margin: 0;
        float: none;
        height: 300px;
    }

    .search-form {
        margin: 0 auto!important;
        float: none!important;
        width: 100%;
    }

    a.logo {
        display: block;
    }

    .main-logo-big {
        left: 0;
        margin-left: 0;
    }

    #header .logo img {
        background-size: contain;
        width: 70px;
        height: 110px;
    }

    .responsive-nav,
    .nav-toggle,
    #toggle-nav {
        display: block !important;
    }

    .responsive-nav2 {
        display: none;
    }

    a.a-dashed.popup_city {
        width: 100% !important;
        margin-left: 0 !important;
    }

    span.phone {
        width: 100% !important;
    }

    .slider-cards {
        min-width: 100%!important;
    }

    .center {
        min-width: 100%!important;
    }

    div#footer {
        min-width: 100%!important;
    }

    .search-block.search-block-mainpage.flo {
        margin: 15px 0;
        text-align: center;
    }

    .search-block form {
        display: inline-block;
        width: 80%;
    }

    p.l_txt {
        padding: 10px 40px!important;
    }

    p.h-txt {
        padding: 20px 40px!important;
    }

    .about_dis {
        padding-top: 41px;
    }

    .about_dis .center {
        background: none;
    }

    .content .left_search .search-form .tabs li span {
        height: 40px;
        position: relative;
        z-index: 0;
        line-height: 35px;
    }

    .learn-txt {
        width: 100%;
        min-height: 100%;
        background-image: none;
        text-align: center;
    }

    .thisiscenter .list-about li {
        width: 100%;
        padding: 0 20px;
    }

    .thisiscenter {
        width: 100%;
    }

    .thisis {
        height: auto;
    }

    .thisiscenter .list-about li img {
        width: 100%;
    }

    .thisiscenter .list-about {
        text-align: center;
    }

    .thisiscenter .list-about li:first-child p {
        padding: 30px;
    }

    .thisiscenter .list-about li p {
        padding: 30px;
    }

    .thisiscenter .h-txt, .thisiscenter h1 {
        padding: 10px;
    }

    .thisiscenter h1 {
        text-align: center;
    }

    .inner-home-main {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        height: 400px;
    }

    .thisiscenter .h-txt-blue span {
        width: 100%;
        padding-right: 0;
        padding-bottom: 10px;
        text-align: center;
    }

    .specialties-groups-wrapper .specialties-groups {
        max-width: 100%;
        min-width: 100%;
        padding: 20px;
        margin-bottom: 75px;
    }

    .specialties-groups .specialty-group, .specializationDiseasesArea .sdaDiseaseBlock {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer .inner {
        width: 100%;
    }

    .sp-links.left-links {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .sp-links.right-links {
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        margin-top: 70px;
        color: #373737;
        padding-top: 15px;
        display: inline-block;
        float: left;
        height: 60px;
    }
    .sp-links.right-links a, .sp-links.right-links span{
        color: #373737;
    }

    .learn-txt a {
        margin:  0 auto;
    }

    .sp-links {
        position: static;
    }

    #header .sp-links nav a {
        margin: 8px 5px;
    }

    .banner-treatment-in-switz{display: none;}

    div#authorization-block-on-disease-page {
        width: 100%;
        text-align: center;
        display: block!important;
        float: left;
        clear: both;
        margin: 13px 0;
    }

    .sp-links .btn-enter {
        display: inline-block;
        color: #fff!important;
        /* margin: 0 auto; */
        float: none;
        width: 30%;
    }

    a.a-dashed.popup_city {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 33%;
        height: 26px!important;
        line-height: 26px!important;
    }

    span.phone {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
        float: left;
        padding-top: 0!important;
        /* font-size: 18px!important; */
        color: #000!important;
    }

    .sp-links a.a-dashed {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 20px;
    }
    a.a-dashed.popup_city{
        height: 26px;
        line-height: 26px;
    }

    .sp-links .phone small, .sp-links .phone .calltime {
        color: #000;
    }

    .sp-links .a-dashed small {
        font-size: 20px;
    }

    .footer-inner-bottom {
        height: 100px;
        background: #202020;
        display: none;
    }

    .footer-inner-top {
        height: 175px;
        background: #4C4C4C;
    }

    .footer-inner-top .inner-top-socials {
        width: 100%;
        clear: both;
        margin-top: 35px;
        text-align: center;
    }

    .footer-inner-top .inner-top-socials li {
        float: none;
        display: inline-block;
    }

    .search-block-mainpage input.txt {
        width: 100%!important;
        font-size: 14px;
        padding: 0 10px;
    }

    .specialties-groups, .specializationDiseasesArea {
        width: 100%!important;
        padding: 0 10px;
    }

    .content .inner-2 {
        width: 100%;
        z-index: 8000;
    }
    body.hidden .content .inner-2{top:-90px}

    .doctor-special-links {
        padding: 0 20px;
    }

    .content .search-count-block {
        width: 100%;
    }

    .content .search-count-block .count {
        width: 100%;
    }

    div#doctor-search-form {
        width: 100%;
        display: inline-block;
    }
    body.hidden div#doctor-search-form,
    body.hidden div#clinic-search-form{margin-top:45px}
    body.hidden .content #doctor-search-form.refactor .search-form .colapse,
    body.hidden .content #clinic-search-form .search-form .colapse{
        float:right;
        margin-top:3px
    }
    body.hidden .inner-2 #doctor-search-form.refactor .search-form h2,
    body.hidden .inner-2 #clinic-search-form .search-form h1{
        float:left;
        padding:0;
        margin-bottom: 0;
        line-height: 14px;
        width: calc(100% - 50px);
        text-align: left;
    }
    body.hidden .inner-2 #clinic-search-form .search-form h1{
        margin-top:0px
    }
    body.hidden .content .search-form .box{
        padding:10px 20px 2px
    }
    body.hidden .inner-2 #doctor-search-form.refactor .search-form .in_colapse
    {
        margin-top:30px
    }
    body.hidden .inner-2 #clinic-search-form .search-form .in_colapse{
        padding-top:30px;
    }

    .content #doctor-search-form.refactor .search-form,
    .content #clinic-search-form.refactor .search-form {
        width: 100%;
    }

    .map-box.refactor {
        display: inline-block;
        width: 100%;
        float: none;
        margin-top: 430px;
    }

    .map-box.refactor #map {
        width: 100%;
    }

    #mapÃ‚Â .ymaps-map {
        width: 100vw!important;
        max-width: 100vw!important;
    }

    .location-box .section {
        height: auto;
    }

    .info-card .schedule-extended .schedule {
        /*position: relative;*/
        margin: 10px 0;
        width: 100%;
    }

    .item-row.flo {
        display: inline-block;
        width: 100%;
    }

    .info-card .descr .tooltip {
        height: 56px;
    }

    .info-box > .location-box > .box .box {
        bottom: -92px;
        left: 5px;
        position: absolute;
    }

    .doctor-big-card .info-box {
        margin-top: 0px;
    }
    .top_number.refactor {
        width: 100%;
        padding-left: 0;
    }

    .top_number .number_right {
        float: left;
        width: 100%;
        text-align: center!important;
    }

    .header .quick-search {
        margin-top: 15px;
        width: 100%;
    }

    .header #authorization-block-on-disease-page {
        right: 0 !important;
    }

    .header .quick-search .quick-search-input {
        width: 75%;
        margin-top: 80px;
        margin-left: 25%;
        margin-right: -37px;
        border-radius: 7px;
    }

    .header .quick-search .quick-search-submit {
        position: relative;
        background-color: #fff;
        padding: 2px;
        margin-top: 80px;
    }

    .header .inner {
        padding-top: 0;
    }

    .header #authorization-block-on-disease-page {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .sp-links .btn-enter, .header .btn-reg {
        display: inline-block;
        float: none;
    }

    .header .btn-reg {
        float: right !important;
    }

    .header .btn-enter {
        float: left;
        margin-left: 26px;
    }

    .header .btn-reg {
        margin-right: 20px;
    }

    .header .inner nav {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    table.nav-table {
        width: 100%;
        height: 70px;
        /* line-height: 70px; */
    }

    table.nav-table td {
        display: inline-block;
    }

    header.header {
        background-size: 21px;
    }

    .header .quick-search .fields {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content .left_search .search-form .choose-section-2 {
        float: none;
        width: 100%;
        text-align: center;
    }

    .search-form-main-page-container .search-form .search-by-name, #clinic-license-form .uploadify {
        width: 100%!important;
    }

    .top_number {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .header .inner {
        height: auto;
    }

    .search-form {
        /* width: 100%!important; */
        display: inline-block;
    }
    .content .search-form, .cab-page {
        width: 100%;
    }
    .cab-page h1.help-title {
        margin: 0;
    }
    div#clinic-search-form {
        display: inline-block;
        width: 100%;
    }

    a.btn-appoint {
        /* float: none!important; */
        width: 100%!important;
        /* margin: 10px 0; */
        margin-right: 0px!important;
        background-size: 100%!important;
        padding: 0 20px;
    }
    .doc-info-col a.btn-appoint{padding: 0;}

    .content #clinic-search-form .search-form {margin: 0 auto!important;display: block;width: 100%!important;/* padding: 0 20px; */}

    .doctor-map-search, .clinic-map-search {
        top: 390px;
        left: 0px;
        width: 100%;
        margin: 0 auto;
    }

    .content .search-count-block.clinic-search {
        width: 100%;
    }

    .content .inner {
        width: 100%;
    }

    .search-block {
        margin-left: 0  !important;
        margin-right: 0!important;
        margin-bottom: 0 !important;
        width: 100%;
        padding: 0 10px;
        text-align: center!important;
    }

    .search-block input.txt {
        width: 100%!important;
        padding: 0 10px;
    }

    .search-block .btn-1 {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    .top_number .number_right span {
        padding-left: 0px!important;
    }

    .top_number .number_right span.number_set.refactor {
        padding-left: 26px!important;
        display: inline-block;
    }

    .full-width .inner .col-about-doctor {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .full-width .inner .st-col {
        float: none;
        width: 100%;
        padding: 10px;
    }

    .doctor-landing .doc-info-col {
        width: 99.5%;
        padding: 10px;
        float: left;
        box-sizing: border-box;
    }

    .doctor-landing {
        width: 100%;
        display: block;
    }

    .doctor-landing .main-cont {
        width: 100%;
        float: left;
        padding: 10px;
    }

    .doctor-landing .schedule-extended {
        width: 100%;
        margin: 20px 0;
    }

    .map-block {
        width: 100%!important;
        overflow: hidden;
    }

    .doctor-landing .descr {
        width: 100%;
        padding: 0;
    }

    .doctor-landing .connected-carousels {
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .content .left_search .search-form {
        width: 100%;
    }

    .illness-search-submit {
        width: 100%;
        margin: 10px 0;
    }

    .thisiscenter .h-txt .btn-1 {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    .specialty-group ul a span, div.not-main-specialties.specialties-groups .specialty-group ul li a span {line-height: 2em;font-size: 1.3em!important;}

    div#specialties_to_search_clinic_chzn {
        width: 100%!important;
    }

    .footer-inner-top .inner-top-info {
        text-align: center;
        width: 100%;
    }

    .inner-2.clinic-search-result {
        margin-top: 0;
        padding-top: 0;
    }

    .search-box .btn-search {
        float: left;
        border-radius: 0 6px 6px 0;
        position: static !important;
    }

    .map-box .search-box input.txt, .clinic-map-search input.txt, .doctor-map-search.refactor input.txt {
        width: calc(100% - 98px)!important;
        float: left;
        clear: both;
        padding: 0 9px 0 115px;
        height: 34px;
    }

    .content .top_number .breadcrumbs {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    h1.number_left.refactor {
        width: 100%;
    }

    .flo .map-box.refactor {
        margin-top: 35px;
    }
    .flo .map-box.refactor.clinic-map {margin-top:50px}

    .btns.flo {
        display: inline-block;
        float: right;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
        /*width: 100%;*/
    }
    .doc-popup-sm .appointment-button{
        width: 100%;
    }
    .doc-popup-sm .appointment-button .btns.flo{
        width: 100%;
    }
    .booking.record-to-the-doctor-popup .btns.flo{
        width: 100%;
        float: none;
    }
    .booking .avatar {margin-left:0 !important;}
    .booking .location-box .section .location{width: 45%}

    .avatar {
        float: left;
        display: inline-block;
    }

    .avatar_buttons {
        width: 100%;
    }
    .js-clone-btn-donor{margin-top: -55px;margin-bottom: -10px;}

    .info-card .descr .rating {
        display: inline-block;
        float: left;
        clear: both;
        position: relative;
        height: 22px;
        padding-top: 6px;
    }

    .info-card .descr .name {
        margin-bottom  : 40px;
    }

    .fixed_title .name a {
        width: 100%;
        display: inline-block;
        float: left;
        clear: both;
    }

    .info-card .descr .rating .comments-count {
        display: none;
        margin: 0;
    }

    .info-card .descr .rating .is_best_recomm {
        margin-top: -15px;
    }

    .info-card .descr .tooltip-block {
        position: absolute;
        top: 0;
        left: 97px;
        display: none;
    }
    .slider-cards .doctor-big-card .schedule-extended{
        width: 100vw;
        height: 67px;
    }
    .inner-2 .doctor-big-card .schedule-extended{
        height: 100px;
    }
    .info-card .schedule-extended{
        border:0;
        background:none;
        margin: -10px 0;
    }

    .info-card .descr .tooltip .corn {
        display: none;
    }
    .doctorname_clear{
        width: 100%;
    }

    .doctor-big-card .descr .name > a {
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .doctor-big-card .descr .name{
        left: 5px;
        top: 0;
        text-align: left;
    }
    .doctor-big-card .descr .name .post{
        height: auto!important;
        width: 100%;
        display: block;
    }

    .doctor-landing .connected-carousels .carousel-navigation {
        width: 150px;
        height: 45px;
    }

    .rating {width: 100%;}
    .booking.record-to-the-doctor-popup .visit-target .rating{margin-top:0;}

    .slider-cards ul.ul_cards {
        width: 100vw!important;
    }

    .content .inner-3 {
        width: 100%;
        padding: 0 10px;
    }

    .help-page .help-cont {
        width: 100%;
    }

    .sub-menu {
        width: 80%;
        margin: 10px 0;
    }

    h1.help-title {
        margin: 10px;
    }

    .discount {
        display: none;
    }

    .banner-treatment-in-switz-open {
        display: none!important;
    }

    .btn-appoint.refactor-btn-appoint-styles {
        display: inline;
    }

    .btns {
        text-align: center;
        width: 100%;
        display: inline-block;
        height: auto;
    }

    .registration-phone {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .slider-cards .div_nav .caroufredsel_wrapper {
        width: 100%!important;
        height: 390px!important;
    }


    .ymaps-2-1-35-map-bg-ru {
        width: 100%;
    }

    .doctor-landing .connected-carousels .stage {
        margin: 0 auto;
    }
    .doctor-landing .caroufredsel_wrapper{
        height: 90px!important;
        margin: 0 auto !important;
        max-width: 375px;
    }
    .doctor-landing .schedule .day a{
        height: 45px;
    }

    .doctor-landing .connected-carousels .navigation {
        margin: 0 auto;
        width: 70%;
    }

    .heading-line.doctor-page .button-container {
        width: 100%;
    }
    .reg-popup .logo{
        display: none;
    }
    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{
        margin: 0 auto;
        display: block;
        overflow: hidden!important;
    }

    .city-block .not-empty-cities li{
        width: 100%!important;
    }
    .sp-links span.phone+a{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .form-call{
        width: 90%!important;
        right: 5%!important;
    }
    .form-call label{
        clear: both;
    }
    .form-call .btn-call{
        float: none!important;
        margin-right: auto!important;
        margin-left: auto!important;
        clear: both;
    }
    .reg-popup{
        width: 100%;
        padding: 2.5vw;
        margin: 0;
    }
    .reg-popup .form .txt input{
        width: 100%;
        box-sizing: border-box;
    }
    .reg-popup .btns .chekBox{
        width: 100%;
    }
    .reg-popup .auth-form .btn-1{
        width: 204px;
        margin: 10px auto;
        float: none;
    }
    .reg-popup .center-align{
        padding-bottom: 20px;
    }
    .reg-popup .socials ul li{
        float: left;
        margin-left: 0;
        width: 50%;
        text-align: center;
    }
    .reg-popup .socials ul li a{
        display: inline-block;
    }
    .reg-popup .form .txt{
        width: 100%;
        max-width: 655px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .city-block{
        width: 100vw;
    }

    .content .left_search .search-form .choose-section-2 .fields{
        width: 100%;
    }
    .content .left_search .search-form .search-by-name{
        margin-top: 0;
        width: 100%;
        height: 38px;
    }
    .content .left_search .search-form .search-by-name .txt{
        width: 100%;
    }
    .content .left_search .search-form .btn-box{
        width: 100%;
    }
    .content .left_search .search-form .btn-box .btn-1{
        margin: 0 auto;
        display: block;
        float: none;
    }
    .left_search .search-form .choose-section.choose-section-free{
        margin: 29px 15px 0px;
    }
    .info-card .descr{
        float: none;
    }
    .caroufredsel_wrapper .avatar_buttons{
        text-align: center;
    }
    .caroufredsel_wrapper .avatar_buttons .avatar{
        /*float: none;*/
    }
    .caroufredsel_wrapper ul.ul_cards>li:not(:first-child){
        display: none;
    }
    .search-form-main-page-container .lmb .pad_tb, .account-search-form-clinic .lmb .pad_tb{
        float: none;
    }
    .booking .step-block-1, .booking .step-block-2{
        width: 100%;
    }
    .booking .progress-bar .steps{
        width: 100%!important;
        float: none;
        text-align: center;
    }
    .booking.record-to-the-doctor-popup .step-block-1 .after_current_bar, .booking.record-to-the-doctor-popup .step-block-2 .after_current_bar{
        margin-left: 0px;
        width: 100%;
    }
    .booking.record-to-the-doctor-popup .step-block-1 .current_bar, .booking.record-to-the-doctor-popup .step-block-2 .current_bar{
        width: 100%;
         margin-left: auto;
    }
    .booking.record-to-the-doctor-popup .step-block-2 .family_relation_inline li{
        display: inline-block;
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }
    .booking.record-to-the-doctor-popup .step-block-2 .popup-textarea{
        word-wrap: break-word;
        resize: none;
         background: #fff;
        height: 100px;
        overflow: auto;
        text-overflow: ellipsis;
        width: 87vw;
        border: none;
        color: #666666;
        font: 18px/27px 'pf_agora_slab_proregular';
        margin-right: -9px;
        padding: 7px 0 18px 13px;
        outline: none;
    }
    .booking.record-to-the-doctor-popup .step-block-2 .form-block .txt input{
        font: 18px 'pf_agora_slab_proregular';
        width: 87vw;
    }
    .booking .info-box{
        width: 100%;
        margin: 0;
        margin-left: 0;
    }
    .booking .schedule-extended{
        width: 100%;
        margin: 0 auto;
    }
    .booking .all{
        padding: 20px;
    }
    .booking.record-to-the-doctor-popup .visit-target .name{
        width: calc(100% - 104px);
        box-sizing: border-box;
        float: none;
        margin-left: 104px;
        margin-bottom: 10px;
    }
    .booking .location-box .section .price-inf{
        width:45%;
        margin-bottom:10px;
    }
    .booking.record-to-the-doctor-popup .location-box .section .price-inf span {font-size:12px}

    .booking .btns .btn-1{
        float: none;
    }
    .about-ilness-content{
        width: 100%;
    }
    .about-ilness-content .main-column{
        width: 100%;
    }
    .about-ilness-content .main-cont .illness-header{
        padding: 20px 10px;
    }
    .illness-nav-wrap .nav{
        display: inline-block;
        width: 100%;
        height: 150px;
    }
    .illness-nav-wrap .nav li.tab-people{
        float: none;
        margin-bottom: 5px;
        padding: 5px;
        line-height: 10px;
        border-radius: 10px;
    }
    .about-ilness-content .illness-nav .sub-nav{
        width: 100%;
    }
    .about-ilness-content .illness-nav.affix{
        width: 100%;
        display: none!important;
    }
    .about-ilness-content .main-cont .content .section{
        padding: 25px;
    }
    .desease-phone{
        font-size: 17px;
        text-align: center!important;
    }
    .actionLink{
        width: 100%;
        border-raDius: 15px;
        text-align:center;
        margin: 10px 0;
    }
    .oneAction{
        width: 100%!important;
        height: auto!important;
        margin: 0!important;
    }
    .oneAction .actionImage img{
        width: 100%;
        height: auto
    }
    .info-card .schedule-extended .day{
        height: 60px;
        padding: 5px 0 0 5px;
        width: 11%;
        margin: 0 1%;
        text-align: center;
    }
    .info-card .schedule-extended .day i{
        margin-bottom: 9px;
    }
    .reg-popup .form .btns{
        width: 100%;
        text-align: center;
    }
    .reg-popup .reg-form .btn-1{
        float: none;
        margin: 10px 0;
    }
    .lmb .a_dashed{
        height: auto;
        margin-top: 50px;
    }
    .lmb .a_dashed.search-doctor-by-name {
        margin-top: 0;
    }
    #clinic-search-form .lmb .a_dashed{margin-top:0}
    .search-form-main-page-container #clinic-search-form .lmb .search_txt{
        width: 100%;
    }
    .doctor-landing .btns.flo{
        width: 100%;
    }
    #our-doctors .btns.flo{
        width: 100%;
        /* margin-top: -45px; */
    }
    #our-doctors .info-card .schedule-extended .day{
        margin: 5px 0 0 2.2px;
        left: 7px;
    }
    #our-doctors .doctor-big-card .descr .name{
        top: 0;
    }
    .top_number .number_right span.number_set{
        background: none;
    }
    .clinic-landing, .clinic-landing .main-box, .clinic-landing .side-box{
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li,
    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li img {
        max-width: 100%;
    }
    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage{
        width: 100%;
    }
    .clinic-landing .connected-carousels .stage{
        width: 100%;
    }
    .full-width .inner .info-col.col-about{
        width: 100%;
        margin: 0 0 20px;
    }
    .clinic-landing .btn-find-doctor-2,
    .clinic-landing .btn-bookmark-big,
    .clinic-landing .clinic-side-box-button.review-link {
        width: 211px;
        display: inline-block;
    }
    .clinic-landing .btn-bookmark-big {
        padding-top: 10px;
    }
    .clinic-landing .btn-bookmark-big .icon-add,
    .clinic-landing .btn-bookmark-big .txt {
        margin-top: -2px;
    }

    .doc-info-col .review-link {
        margin-top: 10px;
        display: inline-block;
    }

    #our-doctors .select-area.flo{
        margin-bottom: 27px;
        text-align: center;
    }
    #our-doctors .select-area .sel-box{
        float: none;
        margin-left: 0;
        text-align: left;
        display: inline-block;
    }
    #landing-popup-registration .btns.flo{
        float: none;
    }
    #clinic-description+.inner.flo{
        width: 100%;
        padding: 0 8px;

    }
    .full-width .inner .info-col{
        font-size: inherit;
        margin-right: 60px;
        padding-left: 47px;
        width: 100%;
    }
    /*#doctor-container .location-box .tabs_schedule{
        position: static;
        height: 60px;
    }
    #doctor-container .doctor-big-card .info-box{
        width: 100%;
    }
    #doctor-container .doctor-big-card .schedule-extended{
        width: 100%;
    }
    #doctor-container .info-box > .location-box > .box .box{
        position: static;
    }*/
    #doctor-container .avatar_buttons .btn-appoint{
        margin-bottom: 15px;
    }
    /*#doctor-container .info-card.doctor-big-card.flo{
        padding: 12px;
    }*/

    .record-to-the-doctor-popup .jspPane, .record-to-the-doctor-popup .jspContainer, .record-to-the-doctor-popup .scroll-pane.flo{
        width: 100%!important;
    }
    .record-to-the-doctor-popup .caroufredsel_wrapper{
        width: 100%!important;
    }
    .booking.record-to-the-doctor-popup .schedule-extended + .time-scroll{
        margin-left: 0;
    }
    .booking.record-to-the-doctor-popup .time{
        width: 14%;
        /*text-align: center;*/
        margin: 0px;
    }
    .jspContainer .caroufredsel_wrapper, .booking .jspContainer{
        height: 45px!important;
    }
    .booking.record-to-the-doctor-popup .time li{
        display: inline-block;
        height: auto;
        padding: 8px 0;
        vertical-align: middle;
    }
    .booking .time li{
        width: 90%;
    }
    .booking .shedule-var li .day div.selected, .booking .shedule-var li .day div.clicked, .booking .shedule-var li .day div{
        width: 100%;
        padding: 10px 0;
    }
    .record-to-the-doctor-popup .caroufredsel_wrapper .shedule-var.flo{
        width: 100%!important;
    }
    .booking .shedule-var li{
        width: calc(94% / 7);
        font-size: 0.8em;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .booking .location-box .section .location .name-inf{width: 100%;}
    #reviews .review-box{
        width: 100%;
    }
    #reviews .review-box .aside{
        width: 100%;
        background: #fff;
    }
    #reviews .review-box .review-cont{
        width: 100%;
        padding: 12px 14px 25px 22px;
        background: #fff;
    }
    .equal-elements .equal-elements-container ul{
        width: 100%;
    }
    .full-map {
        position: fixed;
        width: 100%;
        display: none;
        height: 100vh!important;
        z-index: 9999;
        padding: 0px!important;
    }
    .full-map .bott-panel .shell {
        width: 100%;
        margin: 0 auto;
        padding-top: 28px;
    }
    .full-map .bott-panel .shell {
        text-align: center;
        left: 0;
    }
    .full-map .bott-panel .shell a{
        display: inline-block;
    }
    .clinic-landing .time_clinic .our_time{
        padding: 0;
        text-align: center;
    }
    .about-ilness-content .illness-nav{
        display: none!important;
    }
    .about-ilness-content .illness-nav-wrap{
        display: none;
    }
    .about-ilness-content .side-column{
        width: 100%;
    }
    .clinic-carousel .next{
        margin-left: auto;
        right: 10px;
    }
    .doc-popup-sm.map-card-block>.btns.flo{
        width: 100%;
    }
    .doc-popup-sm.map-card-block>.btns.flo>.btn-bookmark-sm{
        width: 100%;
        line-height: 22px;
    }
    .more_patient {
        padding: 20px;
        padding-top: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: url(/media/images/home_page/bg-more-patient.png) top no-repeat;
    }
    .more_patient * {
        text-align: center;
    }
    .need_patient {
        padding: 20px;
        padding-top: 150px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: url(/media/images/home_page/bg-need-patient.png) top no-repeat;
    }
    .need_patient * {
        text-align: center;
    }
    .online_patient {
        padding: 20px;
        padding-top: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: url(/media/images/home_page/bg-online.png) top no-repeat;
    }
    .online_patient * {
        text-align: center;
    }
    .online_patient img {
        width: 100%;
        margin-top: 45px;
    }
    .work_with_us {
        padding: 20px;
        padding-top: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: url(/media/images/home_page/bg-work.png) top no-repeat;
    }
    .work_with_us * {
        text-align: center;
    }
    .magazine .back {
        float: none;
    }

    #open-left-nav {
        display: block;
    }

    .fancybox-close {
        top: 0;
        right: 0;
    }

    .form-input > input {
        width: 95%;
    }

    .drop-menu {
        width: 100% !important;
        top: 120px !important;
        left: 0 !important;
    }

    #terms-popup.reg-popup {
        width: 100%;
        padding: 35px 40px 32px 35px;
    }

    .reg-popup .terms-cont {
        width: 100%;
    }

    .reg-popup .terms-cont .scroll-pane {
        width: 100%;
    }

    span.error_span {
        /*top: 0 !important;*/
        /* width: 100% !important; */
        height: auto !important;
        /* left: 0 !important; */
        white-space: normal !important;
    }

    span.error_span label {
        font-size: 12px !important;
    }

    .specialty-group ul {
        text-align: center;
    }
    .breadcrumbs{margin: 25px 0 0 0 }
}
@media (max-width: 370px)
{
    div.desease-phone {font-size:14px;}
}
@media (max-width: 487px)
{
    .record-to-the-doctor-popup .shadow-checkbox{position:relative; left:-155px}
    .record-to-the-doctor-popup .inner-top-info{ margin-top: 15px}
    .record-to-the-doctor-popup .text-shadow-input{height:25px;line-height:30px}
    .record-to-the-doctor-popup input{width:100%;background:#fff;border: 1px solid #e2e2e2;border-radius: 5px;height: 44px;}
    .record-to-the-doctor-popup .shadow-input{width:100%;background:none;border:none;height: 44px;}
    .dd-sign-up-popup{left:calc(50% + 80px) !important}
    .dd-sign-up-popup-title{padding-bottom:0 !important;}
    .dd-sign-up-popup{max-width:320px;}
    .dd-sign-up-popup-form-label{width: 100% !important;float:none;position: static !important;}
    .dd-sign-up-popup-form-container{padding-left:0 !important}
     .dd-sign-up-popup-under-form-description{padding: 10px 16px 0 !important;margin-bottom: -17px !important;}
    .doctor-landing .caroufredsel_wrapper{max-width: 320px !important;}
    .booking .location-box .section .location, .booking .location-box .section .price-inf{width: 100% !important;}
    .search-form-main-page-container .for-whom-clinic {
        margin-right: 0px;
        width: 91px;
    }

    .search-form-main-page-container .search-form .field-label
    {
        padding:0;
    }

    .content .left_search .search-form .gender .legend {
        position: relative;
        top: 35px;
        right: 75px;
        font-size: 15px;
    }

    .left_search .search-form .choose-section .head-label .visit-type-home {
        float: right;
        width: 126px;
    }

    .content #doctor-search-form.refactor .search-form .choose-section .col:first-child {
        width: calc(100% - 90px);
    }
    .search-form .for-whom-clinic .choose-list li:last-child {
        padding-right:0;
    }
}
@media (max-width: 670px) {
    .about_us .contacts ul li:first-child {
        margin-bottom:10px;
        width:285px;
    }
    .about_us .contacts ul li:first-child + li {
        margin-left:0;
    }
    .about_us .contacts ul {
        max-width:285px;
    }
}
@media (max-width: 649px) {
    .search-block {
        margin-top: 50px !important;
    }

    .product_list {
        width: 390px  !important;
    }
}
@media (max-width: 992px) {
    .product_list {
        width: 586px;
    }
    .list-inline.doctor-search-filters > li {
        padding: 10px 5px;
    }
    .search-box-address-input {
        margin: 10px 0;
    }
}
@media (max-width: 990px) {

    .fancybox-close{background-size:40px; height:40px; width:40px;}

    #our-doctors>.item-row>div,
    #our-doctors>.item-row {
        padding:0;
        margin:0;
    }
}
@media (max-width: 960px) {.about_us .owl{display:none;}}
@media (max-width: 835px) {
    .about_us .list_info {
        float:left;
    }
    .about_us .list_info li {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .about_us .list_info li:last-child {
        margin-bottom:0;
    }
}


@media (max-width: 768px){
    .info-card .schedule-extended .schedule{margin:0}
    .slick-track .info-card .schedule-extended .schedule{margin-top:10px}
    .about-ilness-content .main-cont .illness-header .another span{position: static;}
    .doctor-big-card .info-box{margin-top: 10px;}
    body.hidden .content .inner-2{top:-130px}
}

@media (max-width: 720px) {
    .about_us .white_bl-l {
        margin-bottom: 10px;
    }
    .about_us .white_bl {
        width: 100%;
        height: auto;
    }
    .about_us .address {
        width: 100%;
    }
    .about_us .address .index {
        padding: 29px 0 0;
        display: block;
        text-align: left;
        width: 100%;
    }
    .about_us .address .index br{display:none;}
    .catalog_list {height:auto !important;}
    .catalog_list .search_pattern {
        float: none;
        height: auto;
    }
    .catalog_list_container .catalog_list h3 a {
        margin: 0 20px !important;
    }
}
@media (min-width: 650px) and (max-width: 1199px) {
    .search-block {
        margin-top: 100px !important;
    }
}



@media (max-width: 1024px){
    .btn-double-floor.disease-doctor.affix{margin-top: 0 !important;top:0;right: 10px;border-radius: 0 0 6px 6px;height: 30px;width: auto;padding: 0 5px;}
    .btn-double-floor.disease-doctor.affix span{padding: 0 !important;width: auto;line-height: 30px;font-size: 14px;}

    .form-input > input{ width:100% }
    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{width: 95% !important;}

    .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-inner{
        width: 100%!important;
    }

    .ilness-list {
        padding:0;
    }
    .adaptive-switch-link{
        display: block;
        width: 100%;
        text-align: center;
        color: #fff!important;
        background: #59bac7;
        font-weight: bold;
        font-family: 'pf_agora_slab_pro_medium';
        padding: 5px 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .specialty-group ul {
        column-count: 2;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .inner-home-main {
        margin-top: 0;
    }
    .content .left_search .search-form .tabs{margin-top:20px;}
}

@media (max-width: 560px) {
    .about_us h2 {
        padding:0;
    }
}
@media (max-width: 320px) {

#our-doctors .info-card .schedule-extended .day {
    margin: 5px 0 0 2px;
    left: 7px;
}

.info-card .schedule-extended .schedule{
    left: -8px
}

#our-doctors .btn-appoint{ max-width: 100%;}

}
@media (max-width: 420px) {
    .product_list {
        width: 193px !important;
    }

    .type-and-service-area > .price {
        font-size: 14px;
        width: 100%;
    }

    .about-ilness-content .main-cont .illness-header h1,
    .about-ilness-content .main-cont .illness-header .another {
        width : 100%;
    }
}

@media screen and (max-width: 768px) {
    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage ul {
        position: relative;
    }

    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li {
        width : calc(100vw - 115px);
        overflow: hidden;
    }

    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li:before {
        content: "";
        display: block;
        padding: 54.545455% 0 0;
    }

    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage li img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        max-width: 110%;
    }

    .clinic-landing .connected-carousels .clinic-carousel.carousel-stage {
        /* height : calc(0.5455 * (100vw - 115px)); */
        height: auto;
    }

    .clinic-landing .connected-carousels .stage {
        width : calc(100vw - 105px);
    }

    .clinic-landing .connected-carousels .stage .map-corn {
        width: 10vw;
        height: 9.9vw;
        background-position: center;
        background-size: cover;
        right: 7px;
    }

    .clinic-landing .clinic-carousel .prev,
    .clinic-landing .clinic-carousel .next {
        margin: 0;
        top: 50%;
        transform: translateY(-50%) scale(0.75);
    }

    .clinic-landing .clinic-carousel .prev {
        left: -5px;
    }

    .clinic-landing .clinic-carousel .next {
        right: -5px;
    }

    .main-page-tooltip,
    .soon-services,
    .owl-block
    {
        display: none;
    }
    .cab-page .sub-menu, .cab-cont {
        width: 100%;
    }
    .sub-menu li {
        float: left;
    }
    .cab-cont .about-form .data-box,
    .cab-cont .about-form .txt-name input,
    .cab-cont .about-form .txt input,
    .cab-cards
    {
        width: 100%;
    }
    .cab-cards {
        margin: 0;
    }

    .rev-popup {
        width: 100%;
        padding: 22px 20px;
    }

    .rev-popup h4 {
        margin-bottom: 2px;
    }

    .rev-popup .author_name-input {
        margin: 0;
    }

    .rev-popup .author_name-input input {
        width: 100%;
        padding: 0 5px;
    }

    .rev-popup .rating-section,
    .rev-popup .vote-section,
    .rev-popup textarea,
    .rev-popup .lab {
        width: 100%;
    }

    .rev-popup .advice-buttons {
        margin-left: 0;
    }

    .rev-popup .advice-buttons .finger-up,
    .rev-popup .advice-buttons .finger-down {
        margin-left: 20%;
        margin-right: 0;
    }

    .rating-line.is_best {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .connected-carousels .clinic-carousel.carousel-stage li,
    .connected-carousels .clinic-carousel.carousel-stage li img {
        height: 360px;
    }
}
