/* REASSIGNED STYLES */
.content .inner {
    width: 1150px;
    padding-top: 0;
}

.clinic-landing .main-box .head-info .rating .comments-count {
    font-size: 14px;
}

.clinic-landing {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clinic-landing .main-box {
    flex: 0 0 683px;
}

.clinic-landing .side-box {
    width: 450px;
    flex: 0 0 450px;
    padding: 5px;
    background: url(/media/images/clinic_landing_shadow.gif) repeat-y #FDFDFD;
    display: block;
    border-radius: 0 6px 6px 0;
    position: static;
}

.clinic-landing .map-block {
    width: 100%;
    position: static;
    padding: 0;
    margin-left: 0;
    box-shadow: unset;
    border-radius: 0;
}

.clinic-side-box-button {
    width: 150px;
    height: 52px;
    float: none;
    margin: 0 auto;
    text-transform: uppercase;
}

.clinic-landing .side-box .btns {
    padding: 0;
    border: 0;
}


/* NEW STYLES */
.clinic-contacts {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.clinic-contacts__row {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.clinic-contacts__icon {
    flex: 0 0 20px;
    font-size: 20px;
    line-height: 1;
    margin: 0 10px;
    color: #aaaaaa;
}

.clinic-contacts__block {
    flex: 1 1 100%;
    font-size: 14px;
    margin-top: 2px;
}

.clinic-contacts__phone {
    font-weight: bold;
}

.connected-carousels .stage {
    width: 673px;
}

.map-block-btn {
    display: none;
}

.clinic-service-tree {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fcfcfc;
    box-shadow: 0 1px 2px #A9A9A9;
    transition: all 500ms ease-in-out;
    margin-bottom: 5px;
    display: none;
}

.clinic-service-tree.active {
    display: block;
}

.clinic-service-tree__pricelist-item {
    display: block;
    padding: 7px 15px;
    position: relative;
    font-size: 14px;
    transition: all 100ms ease-in-out;
}

.clinic-service-tree__pricelist-item:before {
    content: '';
    display: block;
    border-top: 1px dashed #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-left: 100px solid #fff;
    border-right: 100px solid #fff;
}

.clinic-service-tree__pricelist-item.item-level-0 {
    font-weight: bold;
}

.clinic-service-tree__pricelist-item.item-level-1 {
    padding-left: 20px;
}

.clinic-service-tree__pricelist-item.item-level-2 {
    padding-left: 40px;
}

.clinic-service-tree__pricelist-item-name {
    padding-right: 80px;
    word-wrap: break-word;
}

.clinic-service-tree__pricelist-item-price {
    position: absolute;
    right: 15px;
    top: 8px;
}

.pseudo-button__label {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.pseudo-button__input:checked ~.pseudo-button__label {
    background: #858d9f;
}

.pseudo-button__input {
    display: none;
}

@media (max-width: 1199px) {
    .content .inner {
        width: 100%;
    }

    .clinic-landing,
    .clinic-landing .main-box,
    .clinic-landing .side-box {
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}
