.d-wrap {
    width    : 976px;
    margin   : 0 auto;
    position : relative;
}

a.d-pink-btn {
    display         : inline-block;
    color           : #FFFFFF;
    text-decoration : none;
    font            : 700 18px/50px 'pf_agora_sans_probold', serif;
}

.d-top-bl {
    width      : 100%;
    height     : 500px;
    margin-top : -10px;
    background : #C6CBD1;
}

.d-top-bl .d-wrap {
    position : relative;
    height   : 100%;
}

.d-top-bl .d-wrap:before {
    content    : "";
    display    : block;
    width      : 100%;
    height     : 100%;
    background : url(/media/images/doc.jpg) 0 0 no-repeat;
    position   : absolute;
    top        : 0;
    right      : -100px;
}

.d-top-bl .d-wrap:after {
    content : "";
    display : table;
    clear   : both;
}

.d-top-bl * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-top-bl .d-message-bl {
    width      : 436px;
    height     : 416px;
    background : #FFFFFF;
    float      : left;
    margin-top : 67px;
    padding    : 20px 0 10px 22px;
    position   : relative;
    z-index    : 5;
}

.d-top-bl .d-message-bl .d-title {
    color : #359BAC;
    font  : 700 28px 'pf_agora_slab_probold', 'pf_agora_slab_proregular', serif;
}

.d-top-bl .d-message-bl .d-title-2 {
    color      : #359BAC;
    font       : 24px 'pf_agora_slab_proregular', serif;
    text-align : center;
    margin     : 30px 0 27px;
}

.d-top-bl .d-message-bl .d-text {
    font : 20px 'pf_agora_slab_proregular', serif;
}

.d-top-bl .d-message-bl .btn-1 {
    position : absolute;
    bottom   : 20px;
    left     : 20px;
}

.d-wrap .btn-1 {
    color : white;
}

.d-top-bl .d-message-bl .btn-1:before {
    content    : "";
    display    : block;
    background : url(/media/images/blue-arrow.png) no-repeat;
    width      : 71px;
    height     : 95px;
    position   : absolute;
    top        : -72px;
    left       : -100px;
}

.d-steps {
    width         : 100%;
    border-bottom : 1px dashed #A9A7A7;
    position      : relative;
    background    : #FFFFFF;
}

.d-steps:after {
    content : "";
    display : table;
    clear   : both;
}

.d-step {
    color    : #39A2B5;
    margin   : 22px 0 22px 0;
    float    : left;
    position : relative;
}

.d-step:last-child {
    float : right;
}

.d-step:last-child:before {
    content    : "";
    display    : block;
    width      : 35px;
    height     : 20px;
    background : url(/media/images/arrow-small-black.png);
    position   : absolute;
    top        : 10px;
    left       : -68px;
}

.d-step:nth-child(2) {
    width      : 100%;
    float      : none;
    position   : absolute;
    top        : 0;
    left       : 0;
    text-align : center;
}

.d-step:nth-child(2):before {
    content    : "";
    display    : block;
    width      : 35px;
    height     : 20px;
    background : url(/media/images/arrow-small-black.png);
    position   : absolute;
    top        : 10px;
    left       : 323px;
}

.d-step .d-number {
    font         : 700 32px Arial, sans-serif;
    margin-right : 16px;
}

.d-step .d-text {
    font : 24px 'pf_agora_slab_proregular', serif;
}

.d-conclusion {
    margin   : 27px 0 30px 0;
    position : relative;
}

.d-conclusion * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-conclusion:after {
    content : "";
    display : table;
    clear   : both;
}

.d-conclusion .d-title {
    font          : 24px "pf_agora_slab_proregular", serif;
    color         : #428890;
    text-align    : center;
    margin-bottom : 30px;
}

.d-con-item {
    width        : 33%;
    float        : left;
    padding-left : 40px;
    font         : 18px Arial, sans-serif;
    color        : #333333;
    position     : relative;
}

.d-con-item:before {
    content    : "";
    display    : block;
    background : url(/media/images/blue-checkbox.png) no-repeat;
    width      : 31px;
    height     : 29px;
    position   : absolute;
    top        : 0;
    left       : 0;
}

.d-services-price {
    position   : relative;
    background : #FFFFFF;
    padding    : 20px 0 14px 0;
}

.d-services-price:after {
    content : "";
    display : table;
    clear   : both;
}

.d-services-price * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-services-price .d-title {
    font       : 700 28px 'pf_agora_slab_probold', serif;
    color      : #359BAC;
    text-align : center;
    margin     : 0 0 54px 0;
}

.d-services-price .d-left {
    float         : left;
    width         : 460px;
    margin-bottom : 28px;
}

.d-services-price .d-right {
    float         : right;
    width         : 460px;
    margin-bottom : 28px;
}

.d-services-price .d-service-row {
    width         : 100%;
    font          : 18px 'pf_agora_sans_proregular', sans-serif;
    color         : #333333;
    margin-bottom : 16px;
}

.d-services-price .d-service-title {
    width        : 250px;
    float        : left;
    overflow     : hidden;
    margin-right : 5px;
}

.d-services-price .d-title-name {
    display  : inline;
    position : relative;
}

.d-services-price .d-title-name:after {
    content       : "";
    display       : block;
    width         : 250px;
    height        : 1px;
    border-bottom : 1px dashed #333333;
    position      : absolute;
    bottom        : 5px;
    left          : 105%;
}

.d-services-price .d-btn-wrap {
    text-align : center;
}

.d-phone-bl {
    position      : relative;
    color         : #333333;
    border-bottom : 1px dashed #A9A7A7;
    padding       : 16px 0 20px 0;
}

.d-phone-bl:after {
    content : "";
    display : table;
    clear   : both;
}

.d-phone-bl * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-phone-bl .d-text {
    float      : left;
    width      : 50%;
    text-align : right;
    font       : 24px 'pf_agora_slab_proregular', serif;
}

.d-phone-bl .d-number {
    float        : left;
    margin       : 10px 0 0 55px;
    padding-left : 68px;
    position     : relative;
    font         : 36px 'pf_agora_slab_proregular', serif;
}

.d-phone-bl .d-number:before {
    content    : "";
    display    : block;
    width      : 41px;
    height     : 41px;
    background : url(/media/images/d-phone.png) no-repeat;
    position   : absolute;
    top        : 0;
    left       : 0;
}

.d-experts {
    margin-top : 33px;
}

.d-experts .d-title {
    font       : 700 28px 'pf_agora_slab_probold', serif;
    color      : #359BAC;
    text-align : center;
    margin     : 0 0 32px 0;
}

.d-experts * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-experts .d-btn-wrap {
    text-align : center;
    margin-top : 14px;
}

.d-experts-list {
    position : relative;
}

.d-experts-list:after {
    content : "";
    display : table;
    clear   : both;
}

.d-expert {
    width         : 480px;
    height        : 270px;
    float         : left;
    background    : #FFFFFF;
    padding       : 10px 10px 0 10px;
    color         : #333333;
    border        : 1px solid #00ADD7;
    margin-bottom : 16px;
}

.d-expert:nth-child(odd) {
    margin-right : 16px;
}

.d-expert .d-left {
    float        : left;
    width        : 150px;
    text-align   : center;
    margin-right : 20px;
}

.d-expert .d-author-img {
    max-width     : 150px;
    max-height    : 150px;
    margin-bottom : 5px;
}

.d-expert .d-company-img {
    max-width  : 150px;
    max-height : 70px;
}

.d-expert .d-text {
    font : 10px 'pf_agora_sans_proregular', serif;
}

.d-expert .d-right .d-author {
    font   : 400 18px Arial, sans-serif;
    margin : 0 0 22px 0;
}

.d-expert .d-right p {
    margin-top : 18px;
    font-size  : 13px;
}

.d-cards {
    width           : 100%;
    border          : 1px dashed #A9A7A7;
    border-radius   : 10px;
    padding-top     : 16px;
    margin          : 30px 0 10px 0;
    position        : relative;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-cards * {
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.d-cards:after {
    content : "";
    display : table;
    clear   : both;
}

.d-cards .d-title {
    font         : 28px 'pf_agora_slab_proregular', serif;
    color        : #428890;
    text-align   : center;
    padding-left : 90px;
    position     : relative;
}

.d-cards .d-title:before {
    content    : "";
    display    : block;
    width      : 60px;
    height     : 54px;
    background : url(/media/images/yellow-atention.png) no-repeat;
    position   : absolute;
    left       : 10px;
    top        : 7px;
}

.d-cards .d-title-2 {
    font       : 28px 'pf_agora_slab_proregular', serif;
    margin-top : 20px;
    text-align : center;
}

.d-cards .d-btn-wrap {
    text-align : center;
    margin     : 30px 0 15px 0;
}

.d-cards .d-btn-wrap .d-pink-btn {
    position : relative;
    margin   : 0;
}

.d-cards .d-btn-wrap .d-pink-btn:before {
    content    : "";
    display    : block;
    background : url(/media/images/arrow-sea-right.png) no-repeat;
    width      : 108px;
    height     : 20px;
    position   : absolute;
    top        : 50%;
    left       : -150px;
    margin-top : -10px;
}

.d-cards .d-btn-wrap .d-pink-btn:after {
    content    : "";
    display    : block;
    background : url(/media/images/arrow-sea-left.png) no-repeat;
    width      : 108px;
    height     : 20px;
    position   : absolute;
    top        : 50%;
    right      : -150px;
    margin-top : -10px;
}

.d-cards-list {
    width    : 958px;
    margin   : 33px auto 0;
    position : relative;
}

.d-cards-list:after {
    content : "";
    display : table;
    clear   : both;
}

.d-cards-list .d-card {
    width         : 306px;
    height        : 134px;
    float         : left;
    background    : #FFFFFF;
    border        : 1px dashed #00ADD7;
    border-radius : 5px;
    margin        : 0 20px 20px 0;
    font          : 20px 'pf_agora_sans_proregular', serif;
    color         : #333333;
    padding       : 28px 20px 0 20px;
    position      : relative;
}

.d-cards-list .d-card:before {
    content    : "";
    display    : block;
    width      : 29px;
    height     : 20px;
    background : url(/media/images/blue-quotes.png) no-repeat;
    position   : absolute;
    top        : 7px;
    right      : 9px;
}

.d-cards-list .d-card:nth-child(3n+3) {
    margin-right : 0;
}
